@import "../../App.scss";

.tab-bar {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0em 1em 0em;
}

.divider {
  width: 100%;
  height: 0.5em;
  background-color: $primaryColor;
}

.result-error {
  font-size: 1.5em;
  font-weight: 400;
}

.results-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20em;
}
