@import "../../App.scss";
.about {
  border: 2px solid $primaryColor;
}
.about p{
  text-align: center;
  font-size: xx-large;
}
img.p1{
  border: 0.5rem solid #e9c0c3 !important;
}
p.p1{
  font-weight: bold;
  color: #e9c0c3;
}
img.p2{
  border: 0.5rem solid #629763 !important;
}
p.p2{
  font-weight: bold;
  color: #629763;
}
img.p3{
  border: 0.5rem solid #661111 !important;
}
p.p3{
  font-weight: bold;
  color: #661111;
}
img.p4{
  border: 0.5rem solid #293947 !important;
}
p.p4{
  font-weight: bold;
  color: #293947;
}
.avatar {
  width: 10rem;
  height: 10rem;
  border: 2px solid $secondaryColor;
  border-radius: 50%;
  margin: 5em;
}
