.loginContainer {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 30vw;
  padding: 40px 30px;
  margin-top: 80px;
}

.page {
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  padding: 30px 20px;
}

.passwordMsg {
  color: #ff6c6c;
  font-size: 12px;
  text-align: center;
  height: 0;
  transform: translateY(-10px);
}

.errorMsg {
  color: white;
  font-size: 20px;
  text-align: center;
  background: #ff6c6c;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 30vw;
  padding: 10px;
}

.inputBox {
  border: 2px solid #cdcdcd;
  border-radius: 15px;
  padding: 8px 10px;
  margin: 10px 0px;
}

.inputs {
  margin-bottom: 20px;
}

.textInput {
  border: none;
  width: 100%;
}

.textInput:focus {
  outline: none;
}

.loginForm {
  margin-bottom: 20px;
}

.links {
  margin-top: 20px;
}

.links .link {
  color: black;
}

.page .logoImage {
  width: 320px;
  margin-top: 40px;
}
