@import "../../App.scss";

$shelfWidth: 700px;

#display-shelf {
  width: $shelfWidth;
  margin-bottom: 3em;
  margin-top: 0.8em;
}

.shelf {
  height: 0.8em;
  background-color: $secondaryColor;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.25);
}

#award-case {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc($shelfWidth + 200px);
  height: calc(100vh - 20em);
  background-color: $primaryColor;
  border-radius: 20px;
  overflow-y: auto;
  padding: 30px 40px;
}

#displayed-awards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 4.5em;
}

.case-row {
  margin-bottom: 2em;
  width: $shelfWidth;
}

.award-container {
  display: flex;
  margin: 0px 11px 5px 10px;
}

.cased-awards {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

.award-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.displayed-award {
  border: 1px solid $secondaryColor;
}

.cased-award {
  border: 1px solid white;
}

.delete-award {
  margin-left: 3px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
