:root {
  --primary: #189ab4;
  --special: #ff6c6c;
}

.custombtn {
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
}

/* Button Styles */

.btn--primary {
  background-color: var(--primary);
}

.btn--special {
  background-color: var(--special);
}

/* Button Sizes */
.btn--small {
  font-size: 11px;
}

.btn--medium {
  font-size: 14px;
}
