.cardContainer--small {
  width: 100%;
  margin: 8px 0px;
}

.small-card-username {
  width: 15%;
  font-size: 16px;
}

.right-card {
  display: flex;
  justify-content: end;
  width: 80%;
  margin-left: auto;
}
