.cardContainer .card {
  width: 60vw;
  margin: 5px 0px;
}

.icon {
  margin-right: 5px;
  margin-top: 3px;
  height: 40px;
  width: 40px;
}

.title {
  font-size: 24px;
}

.description {
  font-size: 14px;
}

.subtext {
  padding-left: 10px;
  padding-bottom: 5px;
}

.feedbackItem {
  margin: 5px 10px;
}

.feedbackImage {
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
}
