.cardContainer--large .card {
  width: 100%;
  height: 7.5em;
  margin: 6px 0px;
  color: black;
}

.icon {
  margin-right: 5px;
  margin-top: 3px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  height: 40px;
  width: 40px;
}

.title {
  font-size: 24px;
}

.description {
  font-size: 14px;
}

.subtext {
  padding-left: 10px;
  padding-bottom: 5px;
  color: black;
}

.feedbackItem {
  margin: 5px 8px;
  width: 5em;
}

.feedbackImage {
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

.bottomCard {
  min-height: 3em;
}

.info {
  min-height: 3em;
}

.pin {
  margin-top: 2px;
  margin-left: 5px;
  width: 24px;
  height: 24px;
}
