@import "../../App.scss";

.information {
  width: 20vw;
}

.platform-text-block {
  background: $primaryColor;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.iq {
  border-color: rgba(24, 154, 180, 0.2);
  border-style: solid;
  border-width: 3px;
  font-size: 1.5vw;
}

.card-comment {
  background-color: white;
  border-radius: 6px;
  color: black;
  font-size: 14px;
  min-height: 2em;
  padding: 3px 10px;
  margin-right: 5px;
  display: flex;
  flex-grow: 1;
}

#main-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
  width: 100%;
}

#results-breakdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 2em;
  font-size: 2em;
  font-weight: 500;
  color: $secondaryColor;
}

#score-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: $primaryColor;
  border-radius: 50%;
  box-shadow: 4px 8px 15px 3px #189ab456;
  font-size: 3.4em;
  color: $secondaryColor;
  font-weight: 800;
}

#score-breakdown {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 50%;
  justify-content: end;
  margin-right: 3em;
}

.score-divider {
  height: 5px;
  width: 100px;
  background-color: $secondaryColor;
}

.invisible {
  background-color: transparent;
}

#award-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin-left: 3em;
}

#trophy-earned {
  height: 3em;
  width: 3em;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid $secondaryColor;
}

#results-feedback {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

#feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 25%;
}

#quiz-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 1em;
  border-radius: 15px;
  background-color: $primaryColor;
  font-size: 28px;
  font-weight: 500;
}

.feedback-image {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

#comments-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 40px;
}

#make-comment {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.comment-box {
  padding: 5px 10px;
  background: white;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}
