.custombtn.link {
  display: flex;
  color: white;
  justify-content: center;
}

.custombtn.link:hover {
  color: white;
}

.btn--secondary.link {
  color: black;
}

.btn--secondary.link:hover {
  color: black;
}
