.timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #189ab4;
  text-shadow: 1px 1px 7px;
  border-radius: 10%;
  border: 0.1em solid silver;
  box-shadow: 0 0 0.3em 0.1em;
}
