.custom-dropdown {
  position: absolute;
  border-radius: 7px;
  min-width: 100px;
  max-width: 150px;
  top: 60px;
  transform: translateX(-10%);
  background-color: white;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3px;
}
