@import "../../App.scss";

.award-carousel {
  width: 80%;
  border: 1px solid $secondaryColor;
  border-radius: 20px;
  min-height: 18em;
}
.award-carousel-item {
  height: 18em;
}

.award-carousel h5,
.award-carousel p {
  color: black;
}

.award-carousel-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.5em;
}

.award-carousel-image {
  align-self: center;
  justify-self: center;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid black;
}
