:root {
  --banner-height: 10em;
}

.icon--large {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  overflow-y: visible;
  align-self: end;
  transition: background 1s;
}

.icon--small {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  align-self: center;
}

.banner {
  min-width: 100%;
  height: var(--banner-height);
  background-size: cover;
  transition: background 1s;
}

.selectable:hover {
  background-color: rgba(240, 240, 240, 0.6);
  background-blend-mode: screen;
  transition: background 0.3s;
}

.icon-container {
  align-self: end;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 0.5em;
  margin-left: 1em;
}

.image-overlay {
  width: 8em;
  height: 8em;
  position: absolute;
  z-index: 2;
  bottom: 12px;
  border-radius: 50%;
  transition: background 1s;
}
