:root {
  --banner-height: 20vh;
}

.icon--large {
  height: 15vh;
  overflow-y: visible;
  align-self: end;
  transition: background 1s;
}

.icon--small {
  height: 42px;
  align-self: center;
}

.banner {
  min-width: 100%;
  height: var(--banner-height);
  background-size: cover;
  transition: background 1s;
}

.selectable:hover {
  background-color: rgba(240, 240, 240, 0.6);
  background-blend-mode: screen;
  transition: background 0.3s;
}

#banner-upload {
  position: absolute;
  width: 100%;
  height: var(--banner-height);
  opacity: 0%;
}

.icon-container {
  align-self: end;
  border-radius: 100px;
  border: 1px solid black;
  margin-right: 0.5vw;
  width: 10em;
  height: 10em;
}
.icon-container img {
  width: 10em;
  height: 10em;
}
