@import "../../App.scss";
.image-uploader {
  background: #d4f1f4;
  padding: 5px 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  max-width: fit-content;
  display: table;
}
.image-uploader > *{
  display: table-cell
}
.image-uploader div {
  display: block;
  text-align: center;
}
.image-uploader div p {
  text-align: center;
  color: red;
}
.upload-button {
  background-color: $secondaryColor !important;
  border-color: $secondaryColor !important;
}