@import "../../App.scss";

.information {
  width: 20vw;
}

.platform-text-block {
  background: $primaryColor;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.iq {
  border-color: rgba(24, 154, 180, 0.2);
  border-style: solid;
  border-width: 3px;
  font-size: 1.5vw;
}

.information > .searchBar {
  margin-bottom: 20px;
}

#platform-quizzes {
  min-height: 70vh;
}
<<<<<<< HEAD
=======


.sort-dropdowns  {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: var(--primary) !important;
}

.sort-dropdowns button {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.sort-dropdowns:hover {
  background-color: var(--primary) !important;
}
.sort-dropdowns:click {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.btn-primary:hover {
  background-color: var(--primary) !important;
}
.sort-categories {
  font-size: 0.9em;
}
.sort img{
  height: 32px;
  width: 32px;
}
>>>>>>> main
