@import "../../App.scss";

.information {
  width: 20vw;
}

.platform-text-block {
  background: $primaryColor;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.iq {
  border-color: rgba(24, 154, 180, 0.2);
  border-style: solid;
  border-width: 3px;
  font-size: 1.5vw;
}
