.subNav {
  display: flex;
  flex-direction: row;
  background: #d4f1f4;
  margin-top: 66px;
  height: 8vh;
  width: 100vw;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0px;
}

.heading {
  font-size: 2vw;
  font-weight: 700;
  color: #189ab4;
}
