.subNav {
  display: flex;
  flex-direction: row;
  background: #d4f1f4;
  position: relative;
  height: 4em;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0px;
}

.heading {
  font-size: 2vw;
  font-weight: 700;
  color: #189ab4;
}
