.cardContainer--question {
  border-style: solid;
  margin: 10px;
  border-color: #189ab4;
  text-align: center;
  max-width: 55vw;
  padding-bottom: 1em;
}

.cardContainer .choice {
  padding: 0.6em 1em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 1.1em;
  border: 2px solid #d4f1f4;
  display: flex;
}
.marker {
  margin-left: auto;
  float: right;
}
.question {
  font-size: 1.7em;
  background-color: #d4f1f4;
  padding: 5px 0px;
}
