@import "../../App.scss";

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdcdcd;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: 1px;
  margin-right: 1px;
  color: #585858;
  height: 2.5em;
  width: 8em;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 14px;
}

.tab.active {
  color: white;
  background-color: $secondaryColor;
}

.tab:hover:not(.active) {
  background-color: rgba(122, 165, 173, 0.8);
}
