$primaryColor: #d4f1f4;
$secondaryColor: #189ab4;
$highlightColor: #7df9ff;
$specialColor: #ff6c6c;

/* Colors */
.color-primary {
  color: $primaryColor !important;
}

.color-secondary {
  color: $secondaryColor !important;
}

.color-highlight {
  color: $highlightColor !important;
}

.color-special {
  color: $specialColor;
}
