$primaryColor: #d4f1f4;
$secondaryColor: #189ab4;
$highlightColor: #7df9ff;
$specialColor: #ff6c6c;

/* Colors */
.color-primary {
  color: $primaryColor !important;
}

.color-secondary {
  color: $secondaryColor !important;
}

.color-highlight {
  color: $highlightColor !important;
}

.color-special {
  color: $specialColor !important;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: inherit;
}

.page-content {
  margin: 10px;
}

// custom bootstrap styles

.btn-sporadic.btn-sporadic-secondary {
  background-color: $secondaryColor;
  border-color: $secondaryColor;
  color: white;
}

.btn-sporadic.btn-sporadic-secondary:focus {
  background-color: #13879e;
  border-color: #13879e;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(13, 140, 179, 0.25);
}

.btn-sporadic.btn-sporadic-secondary:hover {
  background-color: #13879e;
  border-color: #13879e;
  color: white;
}

.alert-sporadic-secondary {
  background-color: rgba(24, 154, 180);
  color: white;
}

// Custom Bootstrap Dropdown
.custom-dropdown-item {
  font-size: 0.8em !important;
}

.custom-dropdown-item:active {
  background-color: $secondaryColor !important;
}

.custom-dropdown-menu {
  min-width: 5em !important;
}
