$primaryColor: #d4f1f4;
$secondaryColor: #189ab4;
$highlightColor: #7df9ff;
$specialColor: #ff6c6c;

/* Colors */
.color-primary {
  color: $primaryColor !important;
}

.color-secondary {
  color: $secondaryColor !important;
}

.color-highlight {
  color: $highlightColor !important;
}

.color-special {
  color: $specialColor !important;
}

a {
  color: inherit !important;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: inherit;
}

.page-content {
  margin: 10px;
}

.btn-sporadic.btn-sporadic-secondary {
  background-color: $secondaryColor;
  border-color: $secondaryColor;
  color: white;
}

.btn-sporadic.btn-sporadic:focus {
  background-color: #13879e;
  border-color: #13879e;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(13, 140, 179, 0.25);
}

.btn-sporadic.btn-sporadic:hover {
  background-color: #13879e;
  border-color: #13879e;
  color: white;
}
