#quiz-controller {
  position: sticky;
  top: 15vh;
  width: 50vw;
  height: 70%;
}

#quiz-controller #timer-input {
  width: 30%;
  margin-bottom: 2em;
}

.quiz-info {
  width: 100%;
}

#quiz-controller .input-box {
  margin: 10px 0px;
  width: 60%;
}

#quiz-title-input {
  height: 2.5em;
}

#quiz-description-input {
  height: 10em;
}

.delete-question {
  margin-top: 10px;
  width: 28px;
  height: 28px;
}
