#quiz-controller {
  position: sticky;
  top: 14vh;
  width: 50vw;
  height: 70%;
  margin: 10px 3em;
  border: 1px solid #189ab4;
  border-radius: 10px;
  padding: 30px 10px;
  background: #d4f1f4;
}

#quiz-controller #timer-input {
  width: 40%;
}

.quiz-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  width: 100%;
}

#quiz-controller .input-box {
  width: 100%;
}

#quiz-title-input {
  height: 2.5em;
}

#quiz-description-input {
  height: 8em;
}

.delete-question {
  margin-top: 10px;
  width: 28px;
  height: 28px;
}
.add-choice {
  margin-top: 100px;
  width: 28px;
  height: 28px;
}
.sub-choice {
  margin-top: 10px;
  width: 28px;
  height: 28px;
}

.quiz-info-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0.3em 0em;
  justify-content: center;
}

.quiz-info-section > label {
  font-size: 1.5em;
}

.quiz-alerts {
  position: sticky;
  top: 66px;
  width: 100%;
  z-index: 1;
}
